<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.germanarticles">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VerbList"></activity>
        <activity android:name=".TenseList" />
        <activity android:name=".TextActivity" />
        <activity android:name=".AdverbList" />
        <activity android:name=".Adverbs" />
        <activity android:name=".ArticleTables" />
        <activity android:name=".ArticleHelper" />
        <activity android:name=".prateritum" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6189499490928275~3401756754" />

        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".Possesive"
            android:label="Possessivpronomen" />
        <activity android:name=".Article" />
        <activity
            android:name=".ModalVerb"
            android:label="@string/title_activity_modal_verb"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdjDecl"
            android:label="Adjektivendungen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Prepositions"
            android:label="Prepositions" />
        <activity android:name=".Rules" />
    </application>

</manifest>